.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 0%;
  bottom: 0%;
  max-width: 100%;
  background-color: white;
}

.profileContainer > div {
  display: flex;
  height: 40vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileContainer > div:first-child {
  padding-top: 10vmax;
}
.profileContainer > div > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 30vmax;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font-weight: 500;
  font-size: 2.2vmax;
  transform: translateX(-10vmax) translateY(-2vmax);
  letter-spacing: 1px;
}

.profileContainer > div:first-child > img {
  width: 15vmax;
  border-radius: 100%;
  transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}
.profileContainer > div:first-child > a {
  border: none;
  background-color: tomato;
  font-size: 1.3vmax;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
  letter-spacing: 1px;
}

.profileContainer > div:first-child > a:hover {
  background-color: #d2401e;
}

.profileContainer > div:last-child {
  justify-content: center;
  align-items: center;
  padding: 5vmax;
  box-sizing: border-box;
  width: 60%;
  margin-top: 5vmax;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font-size: 1.3vmax;
  font-weight: 500;
  letter-spacing: 1px;
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 500 1.1vmax "Open sans" !important;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    height: 90vh;
    top: 5%;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax;
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax;
    padding: 1vmax;
  }
  .profileContainer > div:first-child > img {
    width: 15vmax;
    border-radius: 50%;
    object-fit: contain;
  }

  .profileContainer > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }

  .profileContainer > div:last-child > div:last-child {
    width: 100%;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
    padding: 2vmax;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Oswald";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Oswald";
    padding: 1vmax;
    margin: 2vmax 0;
  }
}
@media screen and (max-width: 425px) {
  .profileContainer > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profileContainer > div:first-child {
    height: 30vh;
  }
}
