.newPizzaContainer {
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.newPizzaContainer h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Oswald";
  text-align: center;
}

.createPizzaForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 70%;
  width: 40vh;
  background-color: #f2f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.createPizzaForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.createPizzaForm > div > input,
.createPizzaForm > div > select,
.createPizzaForm > div > textarea {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax "Open sans" !important;
  outline: none;
}
.price-input {
  padding: 1vmax 1vmax 1vmax 2vmax !important;
}
.price-input:first-of-type {
  padding-left: 3vmax !important;
}

.createPizzaForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

#createPizzaFormFile > input {
  display: flex;
  padding: 0%;
}

#createPizzaFormFile > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax "Open sans";
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#createPizzaFormFile > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

#createPizzaFormImage {
  width: 100%;
  overflow: auto;
}

#createPizzaFormImage > img {
  width: 3vmax;
  margin: 0 0.5vmax;
}
#createPizzaBtn {
  border: none;
  background-color: #ffbf00;
  color: white;
  font: 300 0.9vmax "Oswald";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createPizzaBtn:hover {
  background-color: tomato;
}

@media screen and (min-width: 1400px) {
  .createPizzaForm {
    padding: 3vmax;
    height: 75%;
    width: 28vmax;
  }
}

@media screen and (max-width: 768px) {
  .newPizzaContainer {
    background-color: rgb(255, 255, 255);
  }
  .createPizzaForm {
    padding: 5vmax;
  }

  .createPizzaForm > div > input,
  .createPizzaForm > div > select,
  .createPizzaForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "Open sans";
  }

  .createPizzaForm > div > svg {
    font-size: 2.8vmax;
  }

  #createPizzaFormFile > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #createPizzaFormFile > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax "Open sans";
  }

  #createPizzaBtn {
    font: 300 1.9vmax "Oswald";
    padding: 1.8vmax;
  }
}
